<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 style="margin-bottom: auto">Fuel consumption records for specified month</h1>
<div>
    Choose Month: <input type="number" onkeypress="return false;" id="month" min="1" max="12" value="1"/><br>
    <input type="radio" name="radio1" checked onclick="checkClick(0)"/>All Drivers<br>
    <input type="radio" name="radio1" onclick="checkClick(1)"/><label id="radio1">Specific driver</label><br>
    <input type="submit" value="Submit" onclick="getSpecifiedMonth()"/>
</div>

<h1 style="margin-bottom: auto">Total money spent</h1>
<div>
    <input type="radio" name="radio2" checked onclick="checkClick(0)"/>All Drivers<br>
    <input type="radio" name="radio2" onclick="checkClick(2)"/><label id="radio2">Specific driver</label><br>
    <input type="submit" value="Submit" onclick="totalMoney()"/>
</div>

<h1 style="margin-bottom: auto">Statistics for each month</h1>
<div>
    Enter Fuel Type: <input type="text" id="fuelTypeInput" placeholder="95"/><br>
    <input type="radio" name="radio3" checked onclick="checkClick(0)"/>All Drivers<br>
    <input type="radio" name="radio3" onclick="checkClick(3)"/><label id="radio3">Specific driver</label><br>
    <input type="submit" value="Submit" onclick="getFuelType()"/>
</div>

<h1 style="margin-bottom: auto">Add Driver</h1>
<div>
    Enter Driver ID: <input type="number" id="driverID" min="1" value="1"/><br>
    Enter Fuel Type: <input type="text" id="fuelType" placeholder="95"/><br>
    Enter Price per Liter: <input type="number" step="0.01" id="price" min="0" placeholder="1.99"/><br>
    Enter Liters Filled: <input type="number" step="0.01" id="liters" min="0" placeholder="10.00"/><br>
    Enter Date: <input type="date" id="date" placeholder="01/01/2000"/><br>
    <input type="submit" value="Submit" onclick="addDriver()"/>
</div>
<script type="text/javascript">
    var userSelectedRequestType = -1;

    function checkClick(clickedBtn) {
        if(clickedBtn === 0) {
            userSelectedRequestType = -1;
        }
        else {
            var insertedDriverID = parseInt(prompt("Please Enter driverID:"));
            if(isNaN(insertedDriverID) || insertedDriverID.toString() === "" || insertedDriverID < 0)
            {
                alert("Please enter a valid Driver ID!");
            }
            else
            {
                document.getElementById("radio" + clickedBtn.toString()).innerHTML = "Specific driver (" + insertedDriverID.toString() + ")";
                userSelectedRequestType = insertedDriverID;
            }
        }
    }

    function getSpecifiedMonth() {
        var month = document.getElementById("month").value;
        if(month.toString().length === 1) {
            month = "0" + month;
        }
        else if(month == "") {
            month = "01";
        }

        if(userSelectedRequestType !== -1)
        {
            window.location = "/resultSpecifiedMonth?driverID=" + userSelectedRequestType + "&month=" + month;
        }
        else
        {
            window.location = "/resultSpecifiedMonth?month=" + month;
        }
    }
    function addDriver() {

        var driverID = document.getElementById("driverID").value;
        var fuelType = document.getElementById("fuelType").value;
        var price = document.getElementById("price").value;
        var liters = document.getElementById("liters").value;
        var date = document.getElementById("date").value;

        if(!isNaN(parseInt(driverID)) && driverID >= 0 && date !== "" && !isNaN(parseFloat(liters)) && !isNaN(parseFloat(price)))
        {
            if(fuelType === "95" || fuelType === "98" || fuelType === "D") {
                var data = {
                    driverID: driverID,
                    fuelType: fuelType,
                    price: price,
                    liters: liters,
                    date: date
                };

                var json = JSON.stringify(data);

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/api");
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(json);
                alert("Driver: '" + driverID + "' added to database!");
            }
            else
            {
                alert("Please enter a valid data!");
            }
        }
        else
        {
            alert("Please enter a valid data!");
        }
    }
    function totalMoney() {

        if(userSelectedRequestType !== -1)
        {
            window.location = "/resultMoney?driverID=" + userSelectedRequestType;
        }
        else
        {
            window.location = "/resultMoney";
        }
    }
    function getFuelType() {

        var fuelType = document.getElementById("fuelTypeInput").value;

        if(fuelType === "95" || fuelType === "98" || fuelType === "D")
        {
            if(userSelectedRequestType !== -1)
            {
                window.location = "/resultFuel?driverID=" + userSelectedRequestType + "&fuelType=" + fuelType;
            }
            else
            {
                window.location = "/resultFuel?fuelType=" + fuelType;
            }
        }
        else
        {
            alert("Please enter a valid fuel type!");
        }
    }
</script>
</body>
</html>