<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 style="margin-bottom: auto">Fuel consumption records for specified month</h1>
<div>
    Choose Month: <input type="number" onkeypress="return false;" id="month" min="1" max="12" value="1"/><br>
    <input type="radio" name="radio1" checked onclick="checkClick(0)"/>All Drivers<br>
    <input type="radio" name="radio1" onclick="checkClick(1)"/><label id="radio1">Specific driver</label><br>
    <input type="submit" value="Submit" onclick="getSpecifiedMonth()"/>
</div>

<h1 style="margin-bottom: auto">Total money spent</h1>
<div>
    <input type="radio" name="radio2" checked onclick="checkClick(0)"/>All Drivers<br>
    <input type="radio" name="radio2" onclick="checkClick(2)"/><label id="radio2">Specific driver</label><br>
    <input type="submit" value="Submit" onclick="totalMoney()"/>
</div>

<h1 style="margin-bottom: auto">Statistics for each month</h1>
<div>
    Enter Fuel Type: <input type="text" id="fuelTypeInput" placeholder="95"/><br>
    <input type="radio" name="radio3" checked onclick="checkClick(0)"/>All Drivers<br>
    <input type="radio" name="radio3" onclick="checkClick(3)"/><label id="radio3">Specific driver</label><br>
    <input type="submit" value="Submit" onclick="getFuelType()"/>
</div>

<h1 style="margin-bottom: auto">Add Driver</h1>
<div>
    Enter Driver ID: <input type="number" id="driverID" min="0" placeholder="123"/><br>
    Enter Fuel Type: <input type="text" id="fuelType" placeholder="95"/><br>
    Enter Price per Liter: <input type="number" step="0.01" id="price" min="0" placeholder="1.99"/><br>
    Enter Liters Filled: <input type="number" step="0.01" id="liters" min="0" placeholder="10.00"/><br>
    Enter Date: <input type="date" id="date" placeholder="01/01/2000"/><br>
    <input type="submit" value="Submit" onclick="addDriver()"/>
</div>
<script src="js/javaScript.js"></script>
</body>
</html>