<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<table>
    <thead>
    <tr class="row header blue">
        <th class="cell"> Month</th>
        <th class="cell"> Total</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row" th:each="total: ${list}">
        <td class="cell" th:text="${total.getMonth()}"></td>
        <td class="cell" th:text="${total.getTotal()} + '€'"></td>
    </tr>
    </tbody>
</table>
</body>
</html>